<html>
<head>
    <title>New Silo - Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/Chart.js/Chart.js" charset="utf-8"></script>
    <script src="dist/sisolr.js" charset="utf-8"></script>
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="images/logo2-icon.png" type="image/png" media="screen" title="no title" charset="utf-8">
	  <link href="dist/extendstyle.css" rel="stylesheet" type="text/css">
</head>

<body class="body" data-ng-app="Sisolr" data-ng-controller="analisys">
    <div class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a href="home.html" class="navbar-brand">
                <img height="20" alt="Brand" src="images/logo2-icon-white.png">
              </a>
          </div>
          <div>
              <ul class="nav navbar-nav">
                 <li> <a href="home.html"><b>HOME</b></a> </li>
                 <li> <a href="search.html"><b>SEARCH</b></a> </li>
                 <li class="active"> <a href="analisys.html"><b>ANALYSIS</b></a></li>
              </ul>
          </div>
      </div>
    </div>
    <!--Chart-->
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12" style="text-align:center">
              <div class="panel panel-default">
                  <div class="panel-heading">General</div>
                  <div class="panel-body">
                      <canvas id="barChart" width="1200" height="400"></canvas>
                  </div>
              </div>
          </div>
      </div>
      <!--Pie Chart-->
      <div class="row">
        <div class="col-md-4" style="text-align:center">
            <div class="panel panel-default">
                <div class="panel-heading">Program Name</div>
                <div class="panel-body">
                    <canvas id="prognameDChart" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="text-align:center">
            <div class="panel panel-default">
                <div class="panel-heading">Syslog Priority Text</div>
                <div class="panel-body">
                    <canvas id="saverityDChart" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="text-align:center">
            <div class="panel panel-default">
                <div class="panel-heading">Hostname</div>
                <div class="panel-body">
                    <canvas id="hostDChart" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!--Table-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">TABLE</div>
            <div class="panel-body">
              <!--Table Program Name-->
              <div class="col-md-4">
                <table class="table table-bordered">
                  <thead>
                    <tr style="color: white; text-shadow: 0px 0px 5px rgba(0, 0, 0, ,3);background-color: rgb(50, 150, 255)">
                      <th style="text-align:center">User</th>
                      <th style="text-align:center">Count</th>
                    </tr>
                    <tbody style="font-size:14px">
                      <tr data-ng-repeat="line in user track by $index">
                        <th>{{line.name}}</th>
                        <th>{{line.nameCount}}</th>
                      </tr>
                    </tbody>
                  </thead>
                </table>
              </div>
              <!--[End] Table Program Name-->
              <!--Table Saverity Type-->
              <div class="col-md-4">
                <table class="table table-bordered">
                  <thead>
                    <tr style="color: white; text-shadow: 0px 0px 5px rgba(0, 0, 0, ,3);background-color: rgb(50, 150, 255)" >
                      <th style="text-align:center">Saverity Type</th>
                      <th style="text-align:center">Count</th>
                    </tr>
                    <tbody style="font-size:14px">
                      <tr data-ng-repeat="line in saverity track by $index">
                        <th><span class="label" data-ng-class="{'label-default': line.type === 'debug', 'label-info': line.type === 'info', 'label-warning': line.type === 'warning' || line.type === 'notice', 'label-danger': line.type === 'err' || line.type === 'crit'}">{{line.type}}</span></th>
                        <th>{{line.count}}</th>
                      </tr>
                    </tbody>
                  </thead>
                </table>
              </div>
              <!--[End] Table Saverity-->
              <!--Table Hostname-->
              <div class="col-md-4">
                <table class="table table-bordered">
                  <thead>
                    <tr style="color: white; text-shadow: 0px 0px 5px rgba(0, 0, 0, ,3);background-color: rgb(50, 150, 255)">
                      <th style="text-align:center">Hostname</th>
                      <th style="text-align:center">Count</th>
                    </tr>
                    <tbody style="font-size:14px">
                      <tr data-ng-repeat="line in host track by $index">
                        <th>{{line.hostname}}</th>
                        <th>{{line.hostCount}}</th>
                      </tr>
                    </tbody>
                  </thead>
                </table>
              </div>
              <!--[End] Table Hostname-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--[End] Table-->
    <!--FOOTER-->
    <div class="container-fluid bg-4">
      <div class="row text-center">
        <div class="col-md-12">
          <br>
          <a href="https://plus.google.com/u/1/101074421020102713192" type="button" class="btn btn-danger" name="gmail">
            <span class="glyphicon glyphicon-envelope">&nbsp;Google</span>
          </a>
          <a href="https://bitbucket.org/cincun/" type="button" class="btn btn-danger" name="bitbucket">
            <span class="glyphicon glyphicon-hdd">&nbsp;Bitbucket</span>
          </a>
          <a href="https://www.instagram.com/yasinmkarya/" type="button" class="btn btn-danger" name="instagram">
            <span class="glyphicon glyphicon-camera">&nbsp;Instagram</span>
          </a>
          <a href="https://www.linkedin.com/in/yasin-manganugrahana-k-110b16a1?trk=nav_responsive_tab_profile_pic" type="button" class="btn btn-danger" name="linkeldin">
            <span class="glyphicon glyphicon-user">&nbsp;Linkeldin</span>
          </a>
        </div>
        <div class="col-md-12">
          <br>
          <h4 style="font-size:12px">Created by : @yasinmkarya</h4>
          <br>
        </div>
      </div>
    </div>
</body>
</html>
